<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加好友</title>
</head>
<body>
    <h1>添加好友</h1>
    <form action="/add_friendemail" method="POST">
        <label for="friend_email">好友信箱:</label>
        <input type="text" id="friend_email" name="friend_email">
        <input type="submit" value="添加">
    </form>
    <a href="/member">返回會員頁面</a>
</body>
</html>
